<body>
  <div>
    <header>
      <nav>
        <ul>
          <li>
            <a routerLink="/"><div>Accueil</div></a>
          </li>
          <li>
            <a routerLink="/skills"><div>Skills</div></a>
          </li>
          <li>
            <a routerLink="/contacts"><div>Contacts</div></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="chronoPlace">
        <app-chrono></app-chrono>
      </div>
      <div class="routerPlace">
        <router-outlet></router-outlet>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <a href="https://www.interface3.be/" target="_blank"
        ><div>Interface3 - WAD21</div></a>
    </footer>
  </div>
</body>
