<body>
  <div>
    <header>
      <nav>
        <ul>
          <li>
            <a routerLink="/"><div>Accueil</div></a>
          </li>
          <li>
            <a routerLink="/skills"><div>Skills</div></a>
          </li>
          <li>
            <a routerLink="/contacts"><div>Contacts</div></a>
          </li>
          <li>
            <a href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Exercices
            </a>
            <ul aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a routerLink="exos/convertisseur"><div>Exercice 1 - Convertisseur</div></a>
              </li>    
              <li>
                <a routerLink="exos/shopping"><div>Exercice 2 - Shopping</div></a>
              </li>
              <li>
                <a routerLink="exos/shopping"><div>Exercice 3 - Shopping +++</div></a>
              </li>                
            </ul>
          </li>
          
        </ul>
      </nav>
    </header>

    <main>
      <div class="chronoPlace">
        <app-chrono></app-chrono>
      </div>
      <div class="routerPlace">
        <router-outlet></router-outlet>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <a href="https://www.interface3.be/" target="_blank"
        ><div>Interface3 - WAD21</div></a>
    </footer>
  </div>
</body>
