<div>
    <h2>Exercice 1 - Créer un projet Angular</h2>
    <h3>Créer un nouveau projet angular</h3>
    <p>il permet de réunir des profils d'utilisateurs.</p>

    <p>Mettez en place 3 pages (des components) contenant : </p>
    <table>
        <!-- <caption>Contenu components</caption> -->
        <thead>
            <tr>
                <th>Route</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>http://localhost:4200/</td>
                <td>Une page d'accueil avec un paragraphe présentant le contenu du site</td>
            </tr>
            <tr>
                <td>http://localhost:4200/skills</td>
                <td>Une page avec une liste de vos compétences en informatique</td>
            </tr>
            <tr>
                <td>http://localhost:4200/contacts</td>
                <td>Une page de contact avec vos coordonnées (Mail, téléphone, photos de vous)</td>
            </tr>
        </tbody>
    </table>

    <p>Sur chacune des pages, une entête avecun menu de navigation (un li avec des liens) et un footer avec la mention : Interface3 - WAD21 qui conduit sur le site internet de I3.</p>
</div>